/* Set fonts */
body {
  /*font-family: Arial, sans-serif;*/
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

/* Add background gradient */
body {
  background: linear-gradient(to bottom, #7fafd6, #c5a191);
}

/* Navigation bar styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #5784e4;
}

/* Section titles */ 
h1, h2, h3 {
  color: #274c77;
}

/* Section introduction styling */ 
#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#introduction h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#introduction p {
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

/* About me section styling */
#about-me {
  background-color: white;
  padding: 50px;
  margin-top: -20px;
  margin-bottom: 80px;
  text-align: center;
}

/* Skills section styling */
#about-me h3 {
  font-size: 24px;
  margin-top: 40px;
}

#about-me ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#about-me li {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  font-weight: bold;
  color: #274c77;
}

/* Projects section styling */
#projects {
  text-align: center;
  margin-bottom: 80px;
}

#projects h2 {
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

.project {
  text-align: center;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project:hover {
  transform: translateY(-5px);
}

#contact {
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #274c77;
}

input,
textarea {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  resize: none;
  border-radius: 5px;
  border: none;
  background-color: #f8f8f8;
}

input[type="submit"] {
  background-color: #5784e4;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #274c77;
}

/* Footer styling */
footer {
  background-color: #7195be;
  color: white;
  padding: 7px;
  text-align: center;
}